/* Customer.css */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 20;
  width: 90%;
  max-width: 500px;
}

.closeButton {
  background: none;
  border: none;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

input,
textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #eb7e21;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.successMessage {
  margin-top: 10px !important;
  color: green !important; /* Error message color */
  font-weight: bold !important;
  text-align: center !important;
}

.errorMessage {
  margin-top: 10px !important;
  color: red !important; /* Error message color */
  font-weight: bold !important;
  text-align: center !important;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.loadingIcon {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-left-color: #eb7e21;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
